body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
}


.video-js {
    width: 100%;
    height: 100%;
    background-color: black;
    content: none;
}


// Mobile UI

$accent-color: #ff0000;
$primary-foreground-color: #fff;
$primary-background-color: #000;
$center-big-play-button: false;

.video-js .vjs-control-bar {
    margin-bottom: 2em;
}

.video-js .vjs-control-bar,
.video-js .vjs-menu-button .vjs-menu-content {
    background-color: $primary-background-color;
    background-color: rgba($primary-background-color, 0);
}

$slider-bg-color: lighten($primary-background-color, 33%);

.video-js .vjs-slider {
    background-color: $slider-bg-color;
    background-color: rgba($slider-bg-color, 0.5);
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress {
    background: $primary-foreground-color;
    background-color: $accent-color;
    color: $accent-color;
}

.video-js .vjs-load-progress {
    background: lighten($slider-bg-color, 25%);
    background: rgba($slider-bg-color, 0.5);
}


.video-js .vjs-loading-spinner {
    border-top-color: $accent-color !important;
    // background-color: rgba(0, 0, 0, 0);
    border-left-color: $accent-color !important;

}


.video-js .vjs-big-play-button {
    // display: none !important;
    border: 0;
    background-color: #ffffff00;
    background-color: #ffffff00;
    border-radius: 0;
}

.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
    border-color: #ffffff00;
    background-color: #ffffff00;
    background-color: #ffffff00;
    transition: all 0s;
}

.video-js .vjs-progress-control:hover .vjs-progress-holder {
    font-size: 2em;
}

.video-js .vjs-progress-control .vjs-progress-holder {
    font-size: 2em;
}

.video-js .vjs-time-control {

    font-size: 1.5em;
    line-height: 2em;
}



/* Change background color and add border */
.vjs-menu-content {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
}

/* Customize menu items */
.vjs-menu-content .vjs-menu-item {
    font-size: 14px;
    padding: 8px;
}

/* Change hover effect */
.vjs-menu-content .vjs-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.vjs-menu li.vjs-selected,
.vjs-menu li.vjs-selected:focus,
.vjs-menu li.vjs-selected:hover,
.js-focus-visible .vjs-menu li.vjs-selected:hover {
    background-color: $primary-foreground-color;
    color: $primary-background-color !important;
    ;
}


// Mobile Control Start
.mobile-vjs-control {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -3.2em;
    margin-left: -12em;

}

.mobile-vjs-control .vjs-control {
    height: auto;
    font-size: 2em;
}


// Mobile Control End
// Mobile Top Menu Start
.mobile-vjs-control-top {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    visibility: visible;
    opacity: 1;
    transition: visibility .1s, opacity .1s;
}

.mobile-vjs-control-top .vjs-menu-button-popup .vjs-menu {
    display: none;
    position: absolute;
    top: 0em;
    width: 14em;
    right: -3em;
    height: 0em;
    margin-top: 1.5em;
    border-bottom-color: rgba(43, 51, 63, 0.7);
}


.vjs-menu-button-popup .vjs-menu .vjs-menu-content {

    top: 1.5em;
    bottom: auto;
}

// Mobile Top Menu End


// Mobile Control Visiblity 
.vjs-has-started .mobile-vjs-control,
.vjs-audio-only-mode .mobile-vjs-control,
.vjs-has-started .mobile-vjs-control-top,
.vjs-audio-only-mode .mobile-vjs-control-top {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility 0.1s, opacity 0.1s;
}

.vjs-controls-disabled .mobile-vjs-control,
.vjs-using-native-controls .mobile-vjs-control,
.vjs-error .mobile-vjs-control,
.vjs-controls-disabled .mobile-vjs-control-top,
.vjs-using-native-controls .mobile-vjs-control-top,
.vjs-error .mobile-vjs-control-top {
    display: none !important;
}

// Icons Start 
.vjs-icon-replay-10:before,
.video-js .vjs-replay-button .vjs-icon-placeholder::before {
    content: "\f2ea";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}


.vjs-icon-forward-10:before,
.video-js .vjs-forward-button .vjs-icon-placeholder::before {
    content: "\f2f9";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

.vjs-icon-play:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
    content: "\f04b";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

.vjs-icon-pause:before,
.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before {
    content: "\f04c";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

.vjs-icon-subtitles:before,
.video-js .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js.video-js:lang(en-GB) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js.video-js:lang(en-IE) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js.video-js:lang(en-AU) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js.video-js:lang(en-NZ) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js .vjs-subtitles-button .vjs-icon-placeholder:before {
    content: "\f20a";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;

}

.vjs-icon-audio:before,
.video-js .vjs-audio-button .vjs-icon-placeholder:before {
    content: "\f025";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control .vjs-icon-placeholder:before {
    content: "\f065";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

.vjs-icon-fullscreen-exit:before,
.video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before {
    content: "\f78c";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

.vjs-icon-picture-in-picture-enter:before,
.video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before {
    content: "\f2d0";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

.vjs-icon-picture-in-picture-exit:before,
.video-js.vjs-picture-in-picture .vjs-picture-in-picture-control .vjs-icon-placeholder:before {
    content: "\f2d0";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

.vjs-icon-volume-high:before,
.video-js .vjs-mute-control .vjs-icon-placeholder:before {
    content: "\f028";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

.vjs-icon-volume-mid:before,
.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before {
    content: "\f027";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

.vjs-icon-volume-low:before,
.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before {
    content: "\f026";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

.vjs-icon-volume-mute:before,
.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before {
    content: "\f6a9";
    font-family: "Font Awesome 6 Free";
    font-weight: 600;
}

// Icons End 